@page "/admin/student"
@model ProjectPRN_FAP.Pages.Admin.Student.ManageStudentModel
@using DTO.Response.Major
@using DTO.Response.Student;
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Student -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Create Student
</button>

<!-- Modal Create Student -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Add" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0 mt-3">Major</p>
                    <select asp-for="StudentAdd.MajorId" class="w-100">
                        @foreach (MajorResponseDTO m in Model.Majors)
                        {
                            <option value="@m.Id">@m.MajorName</option>
                        }
                    </select>
                    <p class="mb-0 mt-3">Academic Year</p>
                    <input required asp-for="StudentAdd.AcademicYear" type="number" class="w-100" />
                    <p class="mb-0 mt-3">First Name</p>
                    <input required asp-for="StudentAdd.Account.Firstname" type="text" class="w-100" />
                    <p class="mb-0 mt-3">Middle Name</p>
                    <input required asp-for="StudentAdd.Account.Middlename" type="text" class="w-100" />
                    <p class="mb-0 mt-3">Last Name</p>
                    <input required asp-for="StudentAdd.Account.Lastname" type="text" class="w-100" />

                    <p class="mb-0 mt-3">Phone nummber</p>
                    <input required asp-for="StudentAdd.Account.Phonenumber" type="text" class="w-100" />
                    <br />
                    <p class="mb-0 mt-3">Gender</p>
                    <select asp-for="StudentAdd.Account.Gender" class="w-100">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <p class="mb-0 mt-3">Id Card</p>
                    <input required asp-for="StudentAdd.Account.IdCard" type="text" class="w-100" />
                    <p class="mb-0 mt-3">Dob</p>
                    <input required asp-for="StudentAdd.Account.Dob" type="date" class="w-100" />
                    <p class="mb-0 mt-3">Address</p>
                    <input required asp-for="StudentAdd.Account.Address" type="text" class="w-100" />
                    <p class="mb-0 mt-3">Image</p>
                    <input required asp-for="StudentAdd.Account.Image" type="text" class="w-100" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- List table semester -->
<div>

    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Student Code</th>
                <th>Email</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentResponseDTO sDTO in Model.Students)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@sDTO.Rollnumber</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Email</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Fullname</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">
                            @(sDTO.Account.Gender == true ? "Nam" : "Nữ")
                        </p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Phonenumber</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@(((DateTime)sDTO.Account.Dob).ToString("dd/MM/yyyy"))</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Address</p>
                    </td>


                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@sDTO.AccountId', '@sDTO.Rollnumber')">
                            Delete
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@sDTO.Account.Phonenumber','@sDTO.Account.Gender','@sDTO.Account.Address','@sDTO.Account.Image','@sDTO.MajorId','@sDTO.Rollnumber','@sDTO.Account.Id')">
                            Update
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>


<!-- Modal Update Student -->
<div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateStudentModal')"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Major</p>
                    <select id="updateMajor" asp-for="StudentUpdate.MajorId" class="w-100">
                        @foreach (MajorResponseDTO m in Model.Majors)
                        {
                            <option value="@m.Id">@m.MajorName</option>
                        }
                    </select>
                    <p class="mb-0 mt-3">Phone nummber</p>
                    <input id="updatePhone" required asp-for="StudentUpdate.Account.Phonenumber" type="text" class="w-100" />
                    <br />
                    <p class="mb-0 mt-3">Gender</p>
                    <select id="updateGender" asp-for="StudentUpdate.Account.Gender" class="w-100">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <p class="mb-0 mt-3">Address</p>
                    <input required id="updateAddress" asp-for="StudentUpdate.Account.Address" type="text" class="w-100" />
                    <p class="mb-0 mt-3">Image</p>
                    <input required id="updateImage" asp-for="StudentUpdate.Account.Image" type="text" class="w-100" />
                    <input hidden id="updateAccountId" asp-for="StudentUpdate.Account.Id" type="text" class="w-100" />
                    <input hidden id="updateRollnumber" asp-for="StudentUpdate.Rollnumber" type="text" class="w-100" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateStudentModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Student -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteStudentModal')"></button>
                </div>
                <div class="modal-body">
                    <input hidden id="deleteAccountId" name="accountId" type="text" class="w-100" />
                    <input hidden id="deleteRollnumber" name="rollnumber" type="text" class="w-100" />
                    <p class="mb-0 mt-3"> Do you want Delete this Student ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteStudentModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });

    function openPopup(phonenumber, gender, address, image, majorId, rollnumber, accountId) {
        var inputPhone = document.getElementById("updatePhone");
        inputPhone.value = phonenumber;

        var inputGender = document.getElementById("updateGender");
        for (var i = 0; i < inputGender.options.length; i++) {
            if (inputGender.options[i].value.toUpperCase() == gender.toUpperCase()) {
                inputGender.options[i].selected = true;
                break;
            }
        }
        var inputAddress = document.getElementById("updateAddress");
        inputAddress.value = address;

        var inputImage = document.getElementById("updateImage");
        inputImage.value = image;

        var inputMajor = document.getElementById("updateMajor");
        for (var i = 0; i < inputMajor.options.length; i++) {
            if (inputMajor.options[i].value == majorId) {
                inputMajor.options[i].selected = true;
                break;
            }
        }

        var inputRoll = document.getElementById("updateRollnumber");
        inputRoll.value = rollnumber;
        var inputAccountId = document.getElementById("updateAccountId");
        inputAccountId.value = accountId;
        $('#updateStudentModal').modal('show');
    }

    function openPopupDelete(accountId, rollnumber) {
        var inputRoll = document.getElementById("deleteRollnumber");
        inputRoll.value = rollnumber;
        var inputAccountId = document.getElementById("deleteAccountId");
        inputAccountId.value = accountId;
        $('#deleteStudentModal').modal('show');
    }


</script>