@*@page "/admin/student"
@model ProjectPRN_FAP.Pages.Admin.Student.ManageStudentModel
@using DTO.Response.Student;
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Student -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Create Student
</button>

<!-- Modal Create Student -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page="/Admin/StudentPage/Student" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>First Name</p>
                    <input required asp-for="AccountCreate.Firstname" type="text" class="w-100" /><p>First Name</p>
                    <p>Middle Name</p>
                    <input required asp-for="AccountCreate.Middlename" type="text" class="w-100" /><p>First Name</p>
                    <p>Last Name</p>
                    <input required asp-for="AccountCreate.Lastname" type="text" class="w-100" />
                    <p>Phone nummber</p>
                    <input required asp-for="AccountCreate.Phonenumber" type="text" class="w-100" />
                    <br />
                    <p>start date</p>
                    <input required asp-for="studentadd.startdate" type="date" class="w-100" />
                    <span asp-validation-for="studentadd.startdate" class="text-danger"></span>
                    <br />
                    <p>end date</p>
                    <input required asp-for="studentadd.enddate" type="date" class="w-100" />
                    <span asp-validation-for="studentadd.enddate" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- List table semester -->
<div>

    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Student Code</th>
                <th>Email</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentResponseDTO sDTO in Model.Students)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@sDTO.Rollnumber</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Email</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Fullname</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">
                            @(sDTO.Account.Gender == true ? "Nam" : "Nữ")
                        </p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Phonenumber</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@(((DateTime)sDTO.Account.Dob).ToString("dd/MM/yyyy"))</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.Account.Address</p>
                    </td>


                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@sDTO.AccountId', '@sDTO.Rollnumber')">
                            Delete
                        </button>
                    </td>

                    <td>
                        @*openPopup(studentEmail,studentCode,studentName,studentGender,studentPhone, studentPassword, studentDob, studentCampus, studentId, userId)*@
                       @* <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@sDTO.Account.Email','@sDTO.StudentCode','@sDTO.Account.Name','@sDTO.Account.Gender','@sDTO.Account.Phone','@sDTO.Account.Password','@sDTO.Account.DateOfBirth','@sDTO.Account.Campus','@sDTO.StudentId','@sDTO.AccountId')">
                            Update
                        </button>*@
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>


<!-- Modal Update Student -->
@*<div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateStudentModal')"></button>
                </div>
                <div class="modal-body">
                    <p>Year</p>
                    <input asp-for="StudentUpdate.Year" id="updateYear" type="text" class="w-100" />
                    <p>StudentName</p>
                    <select id="updateStudentName" asp-for="StudentUpdate.StudentName" class="w-100">
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Fall">Fall</option>
                    </select>
                    <p>Student Start Date</p>
                    <input asp-for="StudentUpdate.StartDate" id="updateStudentStartDate" type="date" class="w-100" />
                    <p>Student End Date</p>
                    <input asp-for="StudentUpdate.EndDate" id="updateStudentEndDate" type="date" class="w-100" />
                    <input asp-for="StudentUpdate.Id" id="updateStudentid" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateStudentModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Student -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteStudentModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteStudentid" type="hidden" name="semesterId" />
                    <p> Do you want Delete this Student ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteStudentModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>*@

<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });

    function openPopup(year, semesterName, startDate, endDate, semesterId) {
        var inputYear = document.getElementById("updateYear");
        inputYear.value = year;

        var inputName = document.getElementById("updateStudentName");
        for (var i = 0; i < inputName.options.length; i++) {
            if (inputName.options[i].value.toUpperCase() == semesterName.toUpperCase()) {

                inputName.options[i].selected = true;
                break;
            }
        }

        var inputStartDate = document.getElementById("updateStudentStartDate");
        inputStartDate.value = formatDate(new Date(startDate));

        var inputEndDate = document.getElementById("updateStudentEndDate");
        inputEndDate.value = formatDate(new Date(endDate));

        var inputId = document.getElementById("updateStudentid");
        inputId.value = semesterId;

        $('#updateStudentModal').modal('show');
    }

    function openPopupDelete(semesterId) {
        var inputId = document.getElementById("deleteStudentid");
        inputId.value = semesterId;
        $('#deleteStudentModal').modal('show');
    }


</script>