@page "/admin/subject"
@using DTO.Response.Subject;
@model FAPClient.Pages.Admin.Subject.SubjectViewModel
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Subject -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createSubjectModal">
    Create Subject
</button>

<!-- Modal Create Subject -->
<div class="modal fade" id="createSubjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Subject</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group w-50">
                        <label asp-for="SubjectCreate.SubjectName" class="control-label"></label>
                        <input asp-for="SubjectCreate.SubjectName" class="form-control" required />
                        <span asp-validation-for="SubjectCreate.SubjectName" class="text-danger"></span>
                    </div>
                    <div class="input-group w-50">
                        <label asp-for="SubjectCreate.SubjectCode" class="control-label"></label>
                        <input asp-for="SubjectCreate.SubjectCode" class="form-control" required />
                        <span asp-validation-for="SubjectCreate.SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="input-group w-50">
                        <label asp-for="SubjectCreate.DateOfIssues" class="control-label"></label>
                        <input asp-for="SubjectCreate.DateOfIssues" type="date" class="form-control" required />
                        <span asp-validation-for="SubjectCreate.DateOfIssues" class="text-danger"></span>
                    </div>
                    <div class="input-group w-50">
                        <label class="control-label">No Credit</label>
                        <input asp-for="SubjectCreate.NumOfCredits" class="form-control" required />
                        <span asp-validation-for="SubjectCreate.NumOfCredits" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- List table subject -->
<div>

    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Subject Name</th>
                <th>Major Code</th>
                <th>Number Of Credits</th>
                <th>Date of Issues</th>
                <th>Updated At</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SubjectResponseDTO subject in Model.Subjects)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@subject.SubjectName</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@subject.SubjectCode</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@subject.NumOfCredits</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@(subject.DateOfIssues != null ? ((DateTime)subject.DateOfIssues).ToString("dd/MM/yyyy") : "")</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@subject.UpdatedAt</p>
                    </td>
                    <td>
                        <a href="/admin/subject/update/@subject.Id" class="btn btn-link btn-sm btn-rounded">Update</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                                onclick="openPopupDelete('@subject.Id')">Delete</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>

<!-- Modal Delete Subject -->
<div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="deleteSubjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Subject</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteSubjectModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteSubjectid" type="hidden" name="subjectId" />
                    <p> Do you want Delete this Subject ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteSubjectModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });

    function openPopupDelete(subjectId) {
        var inputId = document.getElementById("deleteSubjectid");
        inputId.value = subjectId;
        $('#deleteSubjectModal').modal('show');
    }


</script>